nav {
  position: sticky;
  top: 0;
  background: white;
  display: flex;
  width: 100%;
  flex: 0 7rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(95, 94, 94) 0px 1px 10px;
}
.icons,
.logo {
  margin: 0 4rem;
}
.icons {
  display: flex;
  gap: 1rem;
}
